:root {
    --yellow: #ffc600;
    --black: #272727;
}  
* {
    font-family: Abril, sans-serif;
    padding: 0px;
    margin: 0px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
    box-sizing: border-box;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}
body {
    background: url("https://cdn.tutsplus.com/psd/uploads/2014/02/create-a-geometric-pattern-in-photoshop-cover-canvas-with-pattern.jpg"), lightgrey;
    color: var(--black);
}
.main {

}
.sub {

}
.heading {
    font-weight: bold;
}
.center {
    text-align: center;
}
.float-left {
    float: left;
}
.box-shadow {
    -webkit-box-shadow: 9px 8px 27px -5px rgba(92,92,92,1);
    -moz-box-shadow: 9px 8px 27px -5px rgba(92,92,92,1);
    box-shadow: 9px 8px 27px -5px rgba(92,92,92,1);
}
.text-shadow {
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}
::placeholder {
    font-style: italic;
}
#pagewrapper {
	background: transparent;
	display: flex;
    justify-content: center;
}
header {
    background: rgb(73, 27, 34);
    margin: 0 0 1.5em 0;
    padding: 0 0 1em 0;
    color: peachpuff;
}
#title {
    background: transparent;
    padding-top: 0.5em;
    font-family: "Acme";
    font-size: 2.5em;
}
#description {
    background: transparent;
    color: lightgray;
}
main {

}
#survey-form {
	background: azure;
	width: 900px;
    height: auto;
    padding: 0.7em 1.5em 1em 1.5em;
    display: flex;
    flex-direction: column;
	justify-content: ;
	align-content: ;
}
.row {
    display: flex;
    margin: 0.5em 0;
    justify-content: center;
}
.question {
    width: 40%;
    justify-content: flex-end;
    align-content: flex-end;
    text-align: right;
    font-style: italic;
}
main
p {
    font-size: 0.8em;
    font-style: italic;
}
.answer {
    width: 66%;
    padding: 0 1.3em;
    font-size: 0.75em;
}
.answer
span {
    font-size: 0.9em;
    font-weight: bold;
}
.checkbox-container,
.radio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.checkbox-container
input,
label {
    padding: 2px 3px;
    margin: 2px;
}
.radio-container
input, 
label {
    padding: 2px 3px;;
    margin: 2px;
}

.checkbox-answers,
.radio-answers {
    width: 220px;
    display: inline-flex;
}
textarea {
    height: 50px;
    resize: vertical horizontal;
    width: 66%;
}
#name, 
#email,
#dropdown {
    width: 66%;
}
#submit {
    width: 20%;
    justify-self: center;
    padding: 0.7em;
    background: rgb(113, 231, 206);
    font-family: Acme;
    font-size: 1em;
    color: var(--black);
    opacity: 0.9;
}

footer {
    text-align: center;
    background-color: rgb(73, 27, 34);
    color: antiquewhite;
    padding: 14px 0px;
    font-size: 12px;
    margin-top: 2em;
}
footer 
a {
    color: teal;
}


